#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto auto;
  padding: 2rem 0;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}